@model  HighSchool.Web.Models.Profile
@section scripts
{
	<link href="~/Content/HomePage.css" rel="stylesheet" />
}
<section id="team" class="pb-5">
	<div class="container">
		<h5 class="section-title h1">WELCOME TO HIGH SCHOOL</h5>
		<div class="row">
			<div class="col-sm-2 col-md-4"></div>
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid" id="ProfilePicture" src="~/Image/user.png" alt="Profile picture"></p>
									<h4 class="card-title" id="Name">@Model.ProfileName</h4>
									<p class="card-text" id="cardAboutMe">@Model.AboutMe</p>
									<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title" id="ContactTitle">@Model.PhoneNumber</h4>
									<p class="card-text" id="ContactMe"></p>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-skype"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-google"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
		</div>
	</div>
</section>