@{
    ViewBag.Title = "Home Page";
}

<section class="container container-fluid values">
    <div class="row">

        <div class="col-sm-3 text-center">
            <img src="~/Image/Icon1.png" class="img-icon" />
            <h3>School Supplies</h3>
        </div>

        <div class="col-sm-3 text-center">
            <img src="~/Image/Icon2.png" class="img-icon" />
            <h3>Degree</h3>
        </div>

        <div class="col-sm-3 text-center">
            <img src="~/Image/Icon3.png" class="img-icon" />
            <h3>Books</h3>
        </div>

        <div class="col-sm-3 text-center">
            <img src="~/Image/Icon4.png" class="img-icon" />
            <h3>Professors</h3>
        </div>

    </div>
</section>

<section class="container-fluid text-center background-color-1 color-2" id="secondParagraph">
    <p class="text">
        High school is a term primarily used in the United States to describe the level of education students receive
        from approximately 14 to 18 years old, although there is some variation. Most comparable to secondary schools
    </p>
</section>

<section class="container-fluid text-center" id="thirdParagraph">
    <p class="text">
        High school your best opportunities
    </p>
</section>


<footer class="container-fluid text-center background-color-1">
    <div class="brand">
        <h3>High School</h3>
    </div>

    <div class="row">

        <div class="col-sm-2 text-center menu">
            <h6>Newness</h6>
            <ul>
                <li><a href="#">Promotion</a></li>
                <li><a href="#">New courses</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">New things</a></li>
                <li><a href="#">Seminars</a></li>
            </ul>
        </div>

        <div class="col-sm-2 text-center menu">
            <h6>Courses</h6>
            <ul>
                <li><a href="#">Cooking</a></li>
                <li><a href="#">Vet</a></li>
                <li><a href="#">Software</a></li>
                <li><a href="#">Cisco</a></li>
                <li><a href="#">Medicine</a></li>
            </ul>
        </div>

        <div class="col-sm-2 hidden-xs  text-center menu">
            <h6>Professors</h6>
            <ul>
                <li><a href="#">Lindsey</a></li>
                <li><a href="#">Catherine</a></li>
                <li><a href="#">Dexter</a></li>
                <li><a href="#">Adam</a></li>
                <li><a href="#">Stephanie</a></li>
            </ul>
        </div>

        <div class="col-sm-2 text-center menu">
            <h6>Contact Us</h6>
            <ul>
                <li><a href="#">Phone: 79342974</a></li>
                <li><a href="#">Email: highschool@gmail.com</a></li>
                <li><a href="#">Whatapp: 7207520</a></li>
                <li><a href="#">Facebook: HighSchool</a></li>
                <li><a href="#">Instagram: HighSchool</a></li>
            </ul>
        </div>

        <div class="col-sm-2 hidden-xs text-center menu">
            <h6>Developers</h6>
            <ul>
                <li><a href="#">Intellectsoft</a></li>
                <li><a href="#">iTechArt</a></li>
                <li><a href="#">XSolve</a></li>
                <li><a href="#">Apriorit</a></li>
                <li><a href="#">DCSL Software</a></li>
            </ul>
        </div>

        <div class="col-sm-2 hidden-xs text-center menu">
            <h6>Sponsors</h6>
            <ul>
                <li><a href="#">Google India</a></li>
                <li><a href="#">Amazon Web Services</a></li>
                <li><a href="#">Microsof</a></li>
                <li><a href="#">IBM</a></li>
                <li><a href="#">Intel</a></li>
            </ul>
        </div>

    </div>
</footer>